body {
  font-family: Verdana, sans-serif;
  margin: 0;
  padding: 0;
}

#header {
  background: #dedede;
  border-bottom: 1px solid #cccccc;
}

#content {
  min-height: 300px;
}

#footer {
  background: #fafafa;
  border-top: 1px solid #cccccc;
}

.inner {
  padding: 20px;
}

h1,h2 {
  color: #333333;
}
/*
 * Menu.
 */

ul.menu {
  list-style: none inside none;
}

ul.menu li {
  display: inline-block;
  margin-right: 10px;
}

ul.menu li a {
  padding: 3px 10px;
  border: 1px solid #ededed;
  background: #fafafa;
  color: #333333;
  text-decoration: none;
}

/*
 * Log file.
 */

ul.log-entries {
  list-style: none inside none;
  width: 80%;
}

ul.log-entries li {
  padding: 5px 0 5px 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #dedede;
}